@model List<GroupStudent>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Student List</h2>
            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.OrderBy(u => u.ApplicationUser.Name))
                {
                    <tr>
                        <td>@student.ApplicationUser.Name</td>
                        <td>@student.ApplicationUser.Email</td>
                        <td>@student.ApplicationUser.PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Study" asp-action="Index" class="btn btn-outline-primary mt-3">
            Back To List
        </a>
    </div>
</div>